.wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container{
    width: var(--default-layout-width-content, 1150px);
    display: flex;
    flex-direction: row;
}

.content{
    flex: 1;
    min-height: 1000px;
}